.input-form {
    display: flex;
    align-items: flex-end;
    column-gap: 20px;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid $gray;
    &__icon {
        width: 24px;
        height: 24px;
        fill: $gray;
    }
    &__input {
        font-size: 18px;
        &::placeholder {
            color: $gray;
            font-size: inherit;
        }
    }
}